# Node
node_modules/
npm-debug.log*

# Caches
.cache/
.npm/
.nvm/

# Shell / user files
.bash_history
.bash_logout
.bashrc
.lesshst
.profile
.sudo_as_admin_successful
.ssh/

# Logs
*.log

# Broken/backup
package.json.broken
backend/node_modules/
backend/.cache/
backend/.npm/
backend/.nvm/
backend/.ssh/
backend/.bash_history
backend/.bash_logout
backend/.bashrc
backend/.lesshst
backend/.profile
backend/.sudo_as_admin_successful
backend/package.json.broken	
package.json.broken
backend/node_modules/
backend/.cache/
backend/.npm/
backend/.nvm/
backend/.ssh/
backend/.bash_history
backend/.bash_logout
backend/.bashrc
backend/.lesshst
backend/.profile
backend/.sudo_as_admin_successful
backend/package.json.broken

#env
.env

#db
app.db